@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300, 400,500,700&display=swap");
body { font-family: 'Noto Sans KR'; letter-spacing: 0.03rem; background-color: rebeccapurple; }

header { position: absolute; width: 100%; z-index: 100; }
header .header_inner { position: relative; width: 1520px; height: 150px; margin: 0 auto; }
header .header_inner .header_logo a { background: url(../img/logo/logo_korea.jpg); background-size: cover; width: 120px; height: 150px; display: block; }
header .header_inner .gnb .gnb_util { position: absolute; width: 1400px; top: 24px; right: 0; color: #fff; cursor: pointer; }
header .header_inner .gnb .gnb_util .gnb_util_l { position: relative; float: left; margin-left: 50px; height: 30px; }
header .header_inner .gnb .gnb_util .gnb_util_l ion-icon { width: 30px; height: 30px; }
header .header_inner .gnb .gnb_util .gnb_util_l span { font-size: 14px; font-weight: bold; vertical-align: text-top; }
header .header_inner .gnb .gnb_util .gnb_util_l .arrow { position: absolute; width: 12px; height: 2px; background-color: #fff; }
header .header_inner .gnb .gnb_util .gnb_util_l .arrow:nth-child(3) { top: 18px; left: 90px; transform: rotate(50deg); }
header .header_inner .gnb .gnb_util .gnb_util_l .arrow:nth-child(4) { top: 18px; left: 97px; transform: rotate(-50deg); }
header .header_inner .gnb .gnb_util .gnb_util_r { float: right; }
header .header_inner .gnb .gnb_util .gnb_util_r span { font-size: 14px; font-weight: bold; margin-left: 30px; }
header .header_inner .gnb .gnb_box { position: absolute; right: 0; top: 80px; height: 60px; }
header .header_inner .gnb .gnb_box > ul { float: left; height: 60px; line-height: 60px; }
header .header_inner .gnb .gnb_box > ul .gnb_1dep { position: relative; float: left; font-size: 20px; padding: 0 40px; }
header .header_inner .gnb .gnb_box > ul .gnb_1dep > a { position: relative; color: #fff; font-weight: 500; }
header .header_inner .gnb .gnb_box > ul .gnb_1dep > a:before { content: ""; position: absolute; width: 10px; height: 10px; background-color: #e8e8e8; border-top: 3px solid #006262; border-right: 3px solid #006262; bottom: -45px; left: 50%; transform: translateX(-50%) rotate(-45deg); z-index: 10; }
header .header_inner .gnb .gnb_box > ul .gnb_1dep .sub_menu { margin-top: 22px; background-color: #e8e8e8; border-top: 3px solid #006262; position: absolute; left: 50%; transform: translateX(-50%); }
header .header_inner .gnb .gnb_box > ul .gnb_1dep .sub_menu .sub_wrap { position: relative; box-sizing: content-box; padding: 30px 0 10px 20px; width: 180px; }
header .header_inner .gnb .gnb_box > ul .gnb_1dep .sub_menu .sub_wrap p { font-weight: 500; font-size: 20px; line-height: 20px; color: #212121; margin-bottom: 20px; }
header .header_inner .gnb .gnb_box > ul .gnb_1dep .sub_menu .sub_wrap ul { display: inline-block; text-align-last: left; }
header .header_inner .gnb .gnb_box > ul .gnb_1dep .sub_menu .sub_wrap ul li { font-size: 13px; line-height: 40px; font-weight: 300; }
header .header_inner .gnb .gnb_box > ul .gnb_1dep .sub_menu .sub_wrap ul li a { color: #000; }
header .header_inner .gnb .campign { float: left; width: 150px; height: 60px; text-align: center; margin-left: 20px; }
header .header_inner .gnb .campign span { line-height: 60px; font-size: 24px; font-weight: 500; }
header .header_inner .gnb .campign:nth-of-type(1) { background-color: #fff; }
header .header_inner .gnb .campign:nth-of-type(2) { background-color: #006262; }

.main_swiper { width: 100%; height: 970px; }
.main_swiper .swiper_slide { position: relative; width: 100%; height: 100%; }
.main_swiper .swiper_slide .swiper { width: 100%; height: 100%; }
.main_swiper .swiper_slide .swiper .section_txt { position: relative; width: 1520px; margin: 0 auto; height: 100%; padding-top: 400px; color: #fff; }
.main_swiper .swiper_slide .swiper .section_txt h2 { font-size: 52px; font-weight: 700; margin-bottom: 30px; line-height: 70px; padding: 0 80px; }
.main_swiper .swiper_slide .swiper .section_txt p { font-size: 28px; font-weight: 300; margin-bottom: 16px; line-height: 40px; padding: 0 80px; }
.main_swiper .swiper_slide .section1 { background: url("../img/main/sample.jpg"); background-size: cover; }
.main_swiper .swiper_slide .btn { width: 1520px; margin: 0 auto; }
.main_swiper .swiper_slide .btn .arrow { position: absolute; top: 50%; transform: translateY(-50%); box-sizing: border-box; }
.main_swiper .swiper_slide .btn .left { left: 0; }
.main_swiper .swiper_slide .btn .right { right: 0; }
.main_swiper .swiper_slide .btn .paging { position: absolute; width: 75px; height: 65px; z-index: 20; }
.main_swiper .swiper_slide .btn .paging .current_area { position: absolute; left: 80px; bottom: 206px; }
.main_swiper .swiper_slide .btn .paging .current_area ul { display: inline-block; }
.main_swiper .swiper_slide .btn .paging .current_area ul li { font-size: 32px; font-weight: 700; color: #006262; }
.main_swiper .swiper_slide .btn .paging .total_area { position: absolute; left: 80px; bottom: 206px; }
.main_swiper .swiper_slide .btn .paging .total_area span { display: inline-block; font-weight: 300; font-size: 24px; color: #fff; }

/*# sourceMappingURL=WWF.css.map */
