@charset "uft-8";


.project{position: relative; width: 100%; height: 978px;}
.project .number{position: absolute; top: 200px; left: 200px; width: 1500px; height: 700px;}
#environmentalnumber {position: absolute;}
#environmental {position: absolute; left: 250px; top: 45px;}
#sponsor {position: absolute; top: 180px; left: 200px;}
#sponsornumber{position: absolute; top: 140px; left: 510px;}

.project .number span{font-size: 80px; color: #fff;}
.project .number p{font-size: 32px; color: #fff;}

.project .newsletter{width: 630px;height: 900px; position: absolute; top: -40px; right: 100px; z-index: 10;}
.project .newsletter .pandaicon{position: absolute; top: 0; right: 70px;}
.project .newsletter ul {position: absolute; top: 400px; left: 60px; font-size: 18px; line-height: 25px;}
.project .newsletter ul li{color: #fff;}
.project .newsletter button{width: 200px; height: 40px; position: absolute; left: 60px; bottom: 300px; border: 1px solid #fff; background-color: rgba(255, 255, 255, 0); color: #fff; font-size: 18px; cursor: pointer;}


.project .wrap{position: relative;}
.project .wrap .contant span{position: absolute; width: 115px; height: 3px; top: 500px; left: 700px; background-color: #fff;}

.item ul{position: absolute; top: 520px; left: 700px;}
.item ul li{color: #fff; line-height: 25px;}
#item1{background-image: url(../img/random1_s2.png); width: 100%; height: 100%;}
#item2{background-image: url(../img/random2_s2.jpg); width: 100%; height: 100%;}
#item3{background-image: url(../img/random3_s2.png); width: 100%; height: 100%;}